---
import Layout from "../layouts/Layout.astro";
import { aboutPageContent } from "../config";

import { getEntry } from "astro:content";

const entry = await getEntry("pages", "about");
const { Content } = await entry.render();
---

<Layout seo={aboutPageContent.seo}>
  <section class="mt-10 max-w-2xl mx-auto px-6">
    <h1 class="font-bold text-3xl mb-1">About me</h1>
    <p class="opacity-60 mb-10">How I grew into who I am today.</p>

    <article
      class="prose prose-invert prose-a:text-blue-300 prose-a:underline-offset-4 prose-headings:mb-2 prose-p:text-[#b3b3b3]"
    >
      <Content />
    </article>
  </section>
</Layout>
