---
interface Props { year: number; }
const { year } = Astro.props;
---
<div class="sticky top-4 z-20 my-6">
  <span class="inline-block px-5 py-2 rounded-full liquid-glass liquid-glass-blur text-base font-medium tracking-wider opacity-80">{year}</span>
</div>
